@tailwind base;
@tailwind components;
@tailwind utilities;

.navbutton {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.navbutton:after {
  background: #000000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.9;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
span {
  z-index: 20;
}
.navbutton:hover:after {
  left: 120%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes fast-pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-fast-pulse {
  animation: fast-pulse 0.75s infinite;
}
